<section class="seccion_navegadores">
    <!--TODAS LAS CARD TIENEN EL MISMO ESTILO-->
    <h2>¿QUÉ ES EXPRESS?</h2>
    <div class="nav_card" >
        <div class="seccion_imagen_datos">
            <div class="contenedor_datos"> <!--DATOS DE LA TARJETA-->
               <p><b>Express</b> es un <b> framework para crear aplicaciones web, APIs y Web Services</b> que ha sido inspirado
                por la <b>librería de Ruby, Sinastra.</b> Es un <b>software</b> libre, de <b>código abierto</b> que posee licencia del MIT.
                Fue creado por <b>TJ Holowaychuk</b> y la <b>primera versión</b> fue <i>lanzada el 22 de mayo de 2010</i>. Actualemente, es mantenido
                por comunidades de desarrolladores.
               </p>
            </div>
            <figure class="contenedor_imagen">
                <img src="assets/Expressjs.webp" alt="www"> <!--IMAGEN DE LA TARJETA-->
            </figure>
            
        </div>
        <div class="seccion_descripcion"> <!--DESCRIPCIÓN DE LA TARJETA-->
             <p>Una de sus principales características es que <b>proporciona al usuario un conjunto de herramientas para
                aplicaciones web, peticiones y respuestas HTTP, enrutamiento y middleware</b> para conseguir <b>crear y desplegar
                applicaciones a gran escala</b>. También <b>proporciona un CLI llamado NPM para que los developers puedan desacargarse
                paquetes desarrollados.</b> Finalmente, sigue el <b>patrón DRY (Don´t Repeat Yourself)</b> que <b>reduce la repetición de código
                utilizando normalizaciones de datos para evitar la redundancia.</b>
             </p>
        </div>
        <div class="seccion_imagen_datos">
            <figure class="contenedor_imagen">
                <img src="assets/ex.webp" alt="www"> <!--IMAGEN DE LA TARJETA-->
            </figure>
            <div class="contenedor_datos"> <!--DATOS DE LA TARJETA-->
               <p>Express.js se utiliza para una amplia gama de cosas en el <b>ecosistema JavaScript/Node.js </b>
                puedes <b>desarrollar aplicaciones</b>, <b>endpoints de API</b>, <b>sistemas de enrutamiento</b> y <b>frameworks</b> con él.
                Ejemplos:<b>SPAS, Netflix/Twitch, Aplicaciones para entidades bancarias etc... En cuánto al RunKit, es un entorno en línea 
                    que permite escribir y ejecutar código Node.js directamente en el navegador. Se puede usar para probar rápidamente 
                    fragmentos de código, experimentar con bibliotecas y realizar pruebas interactivas.
                </b>
               </p>
            </div>

        </div>
        <div class="seccion_descripcion"> <!--DESCRIPCIÓN DE LA TARJETA-->
            <p>Hay varias razones por las que Express.js es muu útil, desde una <b>mayor velocidad de E/S para peticiones</b> y 
                <b>respuestas más rápidas </b> hasta su <b>sistema de hilo único</b> y <b>procesos asíncronos</b>. También utiliza la <b>estructura MVC</b> para simplificar las manipulaciones 
                de datos y los sistemas de enrutamiento.

            </p>
       </div>
       <figure class="contenedor_imagen">
            <img id="dev" src="assets/programador-masculino-trabajando-en-un-nuevo-proyecto.webp" alt="www"> <!--IMAGEN DE LA TARJETA-->
        </figure>
      
    </div>
</section>
