<section class="seccion_navegadores">
    <!--TODAS LAS CARD TIENEN EL MISMO ESTILO-->
    <h2>¿QUÉ ES NODEJS?</h2>
    <div class="nav_card" >
        <div class="seccion_imagen_datos">
            <div class="contenedor_datos"> <!--DATOS DE LA TARJETA-->
               <p><b>Node JS</b> es un <b> entorno de tiempo de ejecución de JavaScript</b> que se utiliza
                para <b>crear aplicaciones de lado del servidor</b> a través de <b>servidores privados virtuales</b>
               </p>
            </div>
            <figure class="contenedor_imagen">
                <img src="assets/nodejs.webp" alt="www"> <!--IMAGEN DE LA TARJETA-->
            </figure>
            
        </div>
        <div class="seccion_descripcion"> <!--DESCRIPCIÓN DE LA TARJETA-->
             <p>Una de sus principales funciones es <b>asíncrono</b>. Esto quiere decir que se basa en un <b>único hilo</b>,
                es decir, que sólo <b>puede ejecutar una sola cosa a la vez</b>. Dicha arquitectura está basada en 
                <b>eventos</b> para ayudar a los desarrolladores a crear diversos proyectos de forma <b>eficiente y
                    sencilla
                </b>
             </p>
        </div>
    </div>
</section>
