<section class="seccion_navegadores">
    <!--TODAS LAS CARD TIENEN EL MISMO ESTILO-->
    <h2>¿QUÉ ES NODEJS?</h2>
    <div class="nav_card" >
        <div class="seccion_imagen_datos">
            <div class="contenedor_datos"> <!--DATOS DE LA TARJETA-->
               <p><b>Node JS</b> es un <b> entorno de tiempo de ejecución de JavaScript</b> que se utiliza
                para <b>crear aplicaciones de lado del servidor</b> a través de <b>servidores privados virtuales</b>
               </p>
            </div>
            <figure class="contenedor_imagen">
                <img src="assets/nodejs.webp" alt="www"> <!--IMAGEN DE LA TARJETA-->
            </figure>
            
        </div>
        <div class="seccion_descripcion"> <!--DESCRIPCIÓN DE LA TARJETA-->
             <p>Una de sus principales funciones es <b>asíncrono</b>. Esto quiere decir que se basa en un <b>único hilo</b>,
                es decir, que sólo <b>puede ejecutar una sola cosa a la vez</b>. Dicha arquitectura está basada en 
                <b>eventos</b> para ayudar a los desarrolladores a crear diversos proyectos de forma <b>eficiente y
                    sencilla.</b> Fue creado por <b>Ryan Dahl</b> y fue lanzado oficialmente el <i>27 de Mayo de 2009</i>.
                    Fue desarrollado con <b>JavaScript</b>, <b>C++</b> y <b>Python</b> y actualmente es soportado por comunidades
                    de desarrolladores, no por una entidad fija como tal. Muchas empresas utilizan NodeJS. Algunas de estas son: <b>
                        LinkedIn </b>(que utiliza Node.js en su lado del servidor para mejorar la velocidad y la eficiencia en el manejo de conexiones en tiempo real), 
                        <b>Netflix</b> (maneja múltiples conexiones simultáneas gracias a Node.js lo que hace posible el streaming en tiempo real) o <b>Uber</b>, (que también
                        lo utiliza para construir servicios escalables y de alto rendimiento que manejan una gran cantidad de solicitudes en tiempo real).
                    
             </p>
        </div>
        <div class="seccion_imagen_datos">
            <figure class="contenedor_imagen">
                <img src="assets/node.webp" alt="www"> <!--IMAGEN DE LA TARJETA-->
            </figure>
            <div class="contenedor_datos"> <!--DATOS DE LA TARJETA-->
               <p>NodeJs opera en <b>un solo subproceso utilizando el método entrada y entrada sin bloqueo de salida </b>,
                lo que le permite <b>soportar decenas de miles de conxeiones al mismo tiempo </b> mantenidas en <b>bucles
                    de eventos</b></p>
            </div>

        </div>
        <div class="seccion_descripcion"> <!--DESCRIPCIÓN DE LA TARJETA-->
            <p>Además tiene muchas ventajas cómo que <b>incorpora por predeterminado JavaScript</b>, siendo un lenguaje
                fácil de aprender, es capaz de <b>crear proyectos únicos debido al entorno de ejecución de tiempo
                libre en el que se desarrolla</b> junto con la capacidad que tiene de <b>manejo simultáneo de peticiones
                que mejoran la calidad de la aplicación</b>.
            </p>
       </div>
       <figure class="contenedor_imagen">
            <img id="dev" src="assets/softwaredev.webp" alt="www"> <!--IMAGEN DE LA TARJETA-->
        </figure>
      
    </div>
</section>
