<section class="seccion_navegadores">
    <!--TODAS LAS CARD TIENEN EL MISMO ESTILO-->
    <h2>¿QUÉ ES NODEJS?</h2>
    <div class="nav_card" >
        <div class="seccion_imagen_datos">
            <div class="contenedor_datos"> <!--DATOS DE LA TARJETA-->
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ut iure numquam expedita non. Sed molestias iste temporibus pariatur voluptatum dolorem, voluptatem id qui nobis optio, voluptatibus hic quaerat corporis?
               </p>
            </div>
            <figure class="contenedor_imagen">
                <img src="assets/nodejs.webp" alt="www"> <!--IMAGEN DE LA TARJETA-->
            </figure>
            
        </div>
        <div class="seccion_descripcion"> <!--DESCRIPCIÓN DE LA TARJETA-->
             <p>Este navegador fue creado por <b>Tim Berners-Lee</b> en <b>1989</b> en el CERN (Conseil Européen de Recherche Nucléaire). 
                Al año siguiente <b>creó el primer navegador de la historia</b>, el cuál se llamó 
                WorldWideWeb aunque posteriormente cambió a Nexus. <br>
                Fue el primer editor HTML además de ser capaz de 
                utilizar diferentes protocolos como FTP, HTTP, NNTP y abrir archivos locales. Sin embargo, no tenía motor de JavaScript, ya que
                no se había creado para la época.
             </p>
        </div>
    </div>
</section>
