footer {
    background: rgba(58, 55, 55, 0.15);
    box-shadow: 0 8px 32px 0 rgba(181, 181, 244, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}
