header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba( 58, 55, 55, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(165, 165, 168, 0.37);
    backdrop-filter: blur( 2px );
    border: 1px solid #ffffff2e;
    color: white;
    font-size: 0.8rem;
}
#logo {
    display:none;
}
#redessociales {
    display: none;
}

@media screen and (min-width:425px) {
    header {
        font-size:1rem;
    }
    .logoDiv, .tituloDiv, .socialDiv  {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #redessociales{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    svg {
        color: white;
        margin-left: 5px;
        margin-right: 5px;
        height: 28px;
        width: 28px;
    }
    #logo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #logo img {
        max-height: 95%;
        max-width: 95%;
    } 
}


